@import '../variables/variables';


@mixin font-header {
    color: $color-white;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;

    &__logo {
        display: flex;
        align-items: flex-start;
        @include font-header;


        &::before {
            content: '';
            background: url(../img/logo.png) center / cover no-repeat;
            width: 40px;
            height: 40px;
            margin-right: 16px;
        }
    }

    .menu {
        &__btn {
            border: none;
            background-color: transparent;
            display: none;
        }

        &__btn i {
            color: white;
            font-size: 24px;
        }

        .menu-list {
            display: flex;
            column-gap: 48px;

        }

        &__link {
            @include font-header;

            &:hover {
                background: $color-yellow-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
    }

}

@media screen and (max-width: 500px) {
    .cabecalho {
        .menu {
            &__btn {
                display: block;
            }

            .menu-list {
                display: block;
                background-color: $bg-color;

                position: absolute;
                top: 50px;
                right: 0px;

                width: 100%;
                height: 0px;

                transition: .6s;
                z-index: 1000;
                visibility: hidden;
                overflow-x: hidden;

                .menu__item {
                    display: block;
                    border-bottom: 1px solid white;
                    padding: 1rem 2rem;
                }
            }

             .active {
                height: calc(385px - 50px);
                visibility: visible;
                overflow-y: auto;
            }
        }
    }
}