$color-yellow-gradient: linear-gradient(97.86deg, #FF8D8D -38.38%, #F7FC0E 71.88%);
$color-border: linear-gradient(138.34deg, rgba(224, 37, 206, 0.7) -11.36%, rgba(74, 237, 82, 0.7) 51.55%, rgba(189, 36, 230, 0.7) 113.16%);
$bg-color: #030303;
$color-white: #FFFFFF;
$font-primary: 'Inter', sans-serif;
$font-secundary: 'Jura', sans-serif;